.row
	.large-12.columns
		.large-9.columns
			%h2 Food Near You 
		.large-3.columns
			%br
			%p= link_to 'Add New venue', new_venue_path, class: "small button right" 
		%hr
		


= render @venues

#user-widget
	- if currentfb_user
		= succeed "!" do
			%strong= currentfb_user.name
			= link_to "Sign out", signout_path, id: "sign_out"
	- else
		= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in"
