.row
  %h2 Add New Venue
  .large-6.columns
    = form_for :restaurant, url: restaurants_path do |f|
      - if @restaurant.errors.any?
        #errorExplanation
          %h2
            = pluralize(@restaurant.errors.count, "error")
            prohibited
            this post from being saved:
          %ul
            - @restaurant.errors.full_messages.each do |msg|
              %li= msg
      %p
        = f.label :name
        = f.text_field :name
      %p
        = f.label :description
        = f.text_area :description
      %p
        = f.submit
    = link_to 'Back', restaurants_path