%nav.top-bar{"data-options" => "is_hover:false"}
  %ul.title-area
    %li.name
      %h1
        %a{href: "#"}
          Resrv.me
  %section.top-bar-section
    %ul.right
      - if owner_signed_in? 
        %li.has-dropdown
          %a= link_to current_owner.email, '#'
          %ul.dropdown
            %li
              %a= link_to 'Account', new_venue_path
              %a= link_to 'Logout', destroy_owner_session_path(owner_session), method: :delete
      - else
        %li
          %a= link_to 'Log In', new_owner_session_path
        %li
          %a= link_to 'Sign Up', new_owner_registration_path


 